spring:
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        # show_sql: true
        format_sql: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/farmcu?serverTimezone=UTC&characterEncoding=UTF-8
    username: ssafy
    password: ssafy