.container {
  width: 95%;
  margin: auto;

  .title {
    padding: 15px 0px;
    height: 56px;
    font-size: x-large;
    font-weight: bold;
  }

  .paymentcard {
    padding: 0px;
    margin-bottom: 16px;

    .cardheader {
      padding: 8px 5px;
      height: 35px;
      border-bottom: solid 1px #eeeeee;
      font-size: 16px;
      font-weight: bolder;
    }

    .cardscript {
      padding: 8px 5px;

      .username {
        font-size: 14px;
      }

      .userphonenumber {
        margin-top: 4px;
        font-size: 14px;
      }

      .useraddress {
        margin-top: 4px;
        font-size: 14px;
      }

      .storename {
        font-weight: bold;
      }

      .productname {
        margin-top: 8px;
        font-size: 16px;
        font-weight: bold;
      }

      .option {
        margin-top: 2px;
        display: flex;
        flex-direction: row;

        .options {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .price {
          margin-left: auto;
          font-size: 16px;
        }
      }
    }

    .shippingfee {
      padding: 8px 5px;
      height: 35px;
      border-top: solid 1px #eeeeee;
      border-bottom: solid 1px #eeeeee;
      display: flex;
      flex-direction: row;

      .defaultscript {
        font-size: 16px;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .price {
        margin-left: auto;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .bill {
      padding: 8px 5px;
      height: 35px;
      display: flex;
      flex-direction: row;

      .defaultscript {
        font-size: 16px;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .price {
        margin-left: auto;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .changeaddressbutton {
      width: 70px;
      height: 18px;
      background-color: #d9d9d9;
      color: white;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
    }
  }

  .foot {
    .text {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .button {
      width: 80%;
      height: 40px;
      border-radius: 20px;
      background-color: #d9d9d9;
      color: white;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
  }
}
