<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<!--/*@thymesVar id="code" type=""*/-->
<span th:text="${code}"></span>
<a id="loginBtn" type="button" th:onclick="|javascript:login()|"><img src="kakao_login_btn.png" alt="button"></a>
<script th:inline="javascript">
    // const redirectUri = [[${redirectUri}]];
    // const appKey = [[${appKey}]]



    function login() {
        window.location.href = "https://kauth.kakao.com/oauth/authorize?client_id=" + "22cf1fb20c3cb48944b317c32dffc544" +
            "&redirect_uri=" + "http://localhost:9090/login" + "&response_type=code";
    }
</script>
</body>

</html>