.backdrop {
  position: absolute;
  z-index: 1; // 1로 해보고, 사이드바는 z-index 10으로 해봄.
  background-color: rgba(0, 0, 0, 0.75);

  width: 100%;
  height: calc(100vh - 56px);
  transition: 0.2s ease-in; // 적용해보고 수정
}
