.sideMenuItem {
  margin-top: 16px;
  // color: white;
  width: 100%;
  height: 48px;

  &:visited {
    color: wheat;
    transition: color 0.2s ease;
    box-shadow: 0px 2px 4px black;
  }
}

.flexWrapper {
  display: flex;
  align-items: center;
}

.imgWrapper {
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-left: 16px;
}

.iconImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemTxt {
  margin-left: 16px;
  font: bold; //bold 왜 안먹는지 모르겠음. 수정필요
  color: black;
}
