.productList {
  width: calc(100% - 20px);
  display: flex;
  list-style: none;
  margin: 0 10px;
  padding: 0;
  overflow-x: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
